<div class="dashboard-layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- Main Area -->
  <div class="main-area">
    <!-- Header Bar -->
    <header class="header">
      <div class="welcome">
        <h2>Welcome back, Olivia</h2>
      </div>
      <div class="header-actions">
        <button class="icon-btn"><i class="fa fa-search"></i></button>
        <button class="action-btn"><i class="fa-solid fa-sliders"></i> Customize</button>
        <button class="action-btn"><i class="fa-solid fa-cloud-arrow-down"></i>Export</button>
      </div>
    </header>
    <!-- Top Section: Charts -->
    <div class="chart-section">
      <div class="column-chart">
        <div class="card-header">
          <div class="card-header-left">
            <div class="card-icon">
              <i class="fas fa-cube"></i>
            </div>
            <div class="card-text">
              <h3>Vendor breakdown</h3>
              <p>Keep track of vendors and their security ratings.</p>
            </div>
          </div>
          <div class="card-header-right">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <app-vendor-column-chart></app-vendor-column-chart>
        <div class="footer">
          <button class="btn">View Full Report</button>
        </div>
      </div>
      <div class="radial-chart">
        <div class="card-header">
          <div class="card-title-group">
            <h3>Vendors monitored</h3>
            <p>You’re using 80% of available spots.</p>
          </div>
          <i class="fas fa-ellipsis-v card-menu"></i>
        </div>
        <app-vendor-radial-chart></app-vendor-radial-chart>
        <div class="footer">
          <button class="btn">
            <i class="fas fa-bolt"></i>Upgrade Plan</button>
        </div>
      </div>
    </div>
    <!-- Bottom Section: Table -->
    <div class="table-section">
      <div class="table-header">
        <div class="header-left">
          <h2>Team members</h2>
          <span class="badge">{{ vendorList?.gridData?.length || 0 }} users</span>
        </div>
        <div class="header-right">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <app-vendor-list #vendorList ></app-vendor-list>
      <div class="table-footer">
        <button class="btn"><i class="fa-solid fa-arrow-left"> </i> Previous</button>
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
        <button class="btn"> Next <i class="fa-solid fa-arrow-right"> </i></button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>