<div class="sidebar">
  <div class="icon profile-top">
    <img src="https://i.pravatar.cc/40?img=1" alt="User" />
  </div>

  <div class="icon-list">
    <i class="fa-solid fa-house"></i>
    <i class="fa-solid fa-square-poll-vertical"></i>
    <i class="fa-solid fa-layer-group"></i>
    <i class="fa-solid fa-chart-pie"></i>
    <i class="fa-solid fa-users"></i>
  </div>
  <div class="sidebar-spacer"></div>
  <div class="icon-list bottom-icons">
    <i class="fa-solid fa-life-ring"></i>
    <i class="fa-solid fa-gear"></i>
    <img src="https://i.pravatar.cc/40?img=5" alt="Avatar" class="avatar" />
  </div>
</div>

